<div class="row text-light justify-content-center" style="height: 563px;">
  <div class="col-6 hexa-purchase" >
    <div class="overflow"></div>
    <div class="d-flex flex-column purchase-box">
      <h1>We Are Hexashop</h1>
      <span class="my-3">
        Lorem Ipsum is simply dummy text of the printing
        and typesetting industry
      </span>
      <button class="button">Purchase Now</button>
    </div>
  </div>

  <div class="col-5 row gap-4 justify-content-center">
    <div class="col-5 hexa-purchase hexa-purchase-one" >
      <div class="overflow"></div>
      <div class="d-flex flex-column purchase-box w-100 text-center">
        <h1>Women</h1>
        <span class="my-3">
          Lorem Ipsum is simply dummy
        </span>
        <button class="button w-75 mx-auto" routerLink="/womans">Discover More</button>
      </div>
    </div>
    <div class="col-5 hexa-purchase hexa-purchase-two">
      <div class="overflow"></div>
      <div class="d-flex flex-column purchase-box w-100 text-center">
        <h1>Men</h1>
        <span class="my-3">
          Lorem Ipsum is simply dummy
        </span>
        <button class="button w-75 mx-auto" routerLink="/mens">Discover More</button>
      </div>
    </div>
    <div class="col-5 hexa-purchase hexa-purchase-three">
      <div class="overflow"></div>
      <div class="d-flex flex-column purchase-box w-100 text-center">
        <h1>Kids</h1>
        <span class="my-3">
          Lorem Ipsum is simply dummy
        </span>
        <button class="button w-75 mx-auto" routerLink="/kids">Discover More</button>
      </div>
    </div>
    <div class="col-5 hexa-purchase">
      <div class="overflow"></div>
      <div class="d-flex flex-column purchase-box w-100 text-center">
        <h1>Accessories</h1>
        <span class="my-3">
          Lorem Ipsum is simply dummy
        </span>
        <button class="button w-75 mx-auto">Discover More</button>
      </div>
    </div>
  </div>

</div>
