<div class="py-3 pe-3" style="background-color: rgb(208, 204, 204);">
  <div class="d-flex align-items-center justify-content-between" style="margin: 0 110px;">
    <div class="d-flex align-items-center gap-2 my-2" routerLink="/landing" role="button">
      <div class="hexagon">
        <span>H</span>
      </div>
      <div class="d-flex flex-column gap-0">
        <h3>HEXASHOP</h3>
        <span>onlineShop</span>
      </div>
    </div>
    <div class="d-flex align-items-center gap-4 fs-5">
      <a routerLink="/home" routerLinkActive="text-danger">Home</a>
      <a routerLink="/mens" routerLinkActive="text-danger">Men's</a>
      <a routerLink="/womans" routerLinkActive="text-danger">Woman's</a>
      <a routerLink="/kids" routerLinkActive="text-danger">Kid's</a>
      <a routerLink="/aboutus" routerLinkActive="text-danger">About Us</a>
      <a routerLink="/contact" routerLinkActive="text-danger">Contact</a>
    </div>
  </div>
</div>
