<form class="container" [formGroup]="FormData" (ngSubmit)="FormSubmitted()">
  <div>
    <label class="form-label">Country/region <span class="text-danger">*</span></label>
    <select class="form-select" formControlName="country">
      <option disabled selected>Open this select menu</option>
      <option>Eqypt</option>
      <option>Saudi Arabia</option>
      <option>Palestine</option>
    </select>
    <small class="text-danger" *ngIf="FormData.get('country').invalid && FormData.get('country').touched ">
      this field is required
    </small>
  </div>
  <div class="mt-4">
    <label class="form-label">Full name (First and Last name) <span class="text-danger">*</span></label>
    <input type="text" class="form-control" placeholder="Enter your name" formControlName="fullName" >
    <small class="text-danger" *ngIf="FormData.get('fullName').invalid && FormData.get('fullName').touched ">
      this field is required
    </small>
  </div>
  <div class="mt-4">
    <label class="form-label">Mobile number <span class="text-danger">*</span></label>
    <input type="number" class="form-control" placeholder="e.g. 02XXXXXXX" formControlName="mobileNumber" >
    <small class="text-danger" *ngIf="FormData.get('mobileNumber').invalid && FormData.get('mobileNumber').touched ">
      this field is required
    </small>
  </div>
  <div class="mt-4">
    <label class="form-label">Street name <span class="text-danger">*</span></label>
    <input type="text" class="form-control" placeholder="e.g. Elagamy Elpitash" formControlName="street">
    <small class="text-danger" *ngIf="FormData.get('street').invalid && FormData.get('street').touched ">
      this field is required
    </small>
  </div>
  <div class="mt-4">
    <label class="form-label">City <span class="text-danger">*</span></label>
    <select class="form-select" formControlName="city">
      <option disabled selected>Open this select menu</option>
      <option>Alexandria</option>
      <option>Cairo</option>
      <option>Tanta</option>
    </select>
    <small class="text-danger" *ngIf="FormData.get('city').invalid && FormData.get('city').touched ">
      this field is required
    </small>
  </div>
  <div class="mt-4">
    <label class="form-label">Method Payment <span class="text-danger">*</span></label>
    <select class="form-select" formControlName="Payment">
      <option disabled selected>Open this select menu</option>
      <option>credit card</option>
      <option>PayPal</option>
      <option>bank transfer</option>
    </select>
    <small class="text-danger" *ngIf="FormData.get('Payment').invalid && FormData.get('Payment').touched ">
      this field is required
    </small>
  </div>
  <div class="d-flex align-items-center justify-content-end">
    <input type="Submit" value="Submit Order"
      class="btn btn-dark mt-5 py-2"
      [disabled]="FormData.invalid">
  </div>
</form>
